<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/CSS/root.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap');
        body, .container {
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100vw;
            overflow: hidden;
        }
        .container {
            background: #1c1c1c;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card {
            width: 50vw;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: var(--color);
            border-radius: 2vh;
            box-shadow: inset -2rem 2rem 2rem rgba(0, 0, 0, 0.5);
        }
        h1 {
            font-size: 5rem;
            color: #1c1c1c;
            font-family: 'Agency FB', Bahnschrift, sans-serif;
        }
        @media (max-width: 800px) {
            h1 {
                font-size: 3rem;
                text-align: center;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>404 Page Not Found</h1>
        </div>
    </div>
</body>
</html>